/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(135deg, #1a237e 0%, #0d47a1 100%);
}

.mat-mdc-card {
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
}

.mat-mdc-form-field {
  width: 100%;
}

.mat-mdc-card-title {
  font-size: 2em !important;
  margin-bottom: 10px !important;
}

.mat-mdc-card-subtitle {
  font-size: 1.2em !important;
  margin-bottom: 20px !important;
}
